{% extends 'flatpages/default.html' %}

{% load crispy_forms_tags %}

{% load account %}

{% load static %}

{% block content %}
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
            <!-- Post meta content-->
            {% if post.author == current_user %}
                <div class="text-muted fst-italic mb-2">Posted on {{ post.date_posted|date:'d-M-Y' }} {{ post.date_posted|time:"H:i" }} by {{ post.author }} <a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a>|<a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></div>
            {% else %}
                <div class="text-muted fst-italic mb-2">Posted on {{ post.date_posted|date:'d-M-Y' }} {{ post.date_posted|time:"H:i" }} by {{ post.author }}</div>
            {% endif %}
            <!-- Post categories-->
            {% for c in post.category.all %}
                <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'category_detail' c.id %}">{{ c.name }}</a>
            {% endfor %}
        </header>
        <section class="mb-5">
            {{ post.content|safe }}
        </section>
    </article>

    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form-->
                <form class="mb-4" method="POST">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </section>

{% endblock content %}

{% block cat-widget %}
    {% if cat_fh or cat_sh %}
        <div class="col-sm-6">
            <ul class="list-unstyled mb-0">
                {% for category in cat_fh %}
                    <li><a href="{% url 'category_detail' category.id %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="list-unstyled mb-0">
                {% for category in cat_sh %}
                    <li><a href="{% url 'category_detail' category.id %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% else %} <!-- Если товаров нет, то говорим что товаров нет ;) -->
        <h4>Categories not found</h4>
    {% endif %}
{% endblock cat-widget %}

{% block search %}
    <form class="input-group " action="{% url 'search_comments_results' %}" method="get">
        <input name="q" class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
    </form>
{% endblock search %}
