{% extends 'flatpages/default.html' %}

{% load crispy_forms_tags %}

{% load account %}

{% load static %}



{% block content %}
    <h2>Edit post</h2>

    <form class="form-control" method="POST">
        {% csrf_token %}
        {{ form.media }}
        {% crispy form %}
    </form>
    <br>

{% endblock content %}

{% block cat-widget %}
    {% if cat_fh or cat_sh %}
        <div class="col-sm-6">
            <ul class="list-unstyled mb-0">
                {% for category in cat_fh %}
                    <li><a href="{% url 'category_detail' category.id %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="list-unstyled mb-0">
                {% for category in cat_sh %}
                    <li><a href="{% url 'category_detail' category.id %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% else %} <!-- Если товаров нет, то говорим что товаров нет ;) -->
        <h4>Categories not found</h4>
    {% endif %}
{% endblock cat-widget %}

{% block search %}
    <form class="input-group " action="{% url 'search_results' %}" method="get">
        <input name="q" class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
    </form>
{% endblock search %}
