<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hi, {{usr.first_name}} {{usr.last_name}}. We have prepared a digest of articles for a week from our portal!</h2>
    <table>
      <thead>
        <th>
          Title
        </th>
        <th>
            Category
        </th>
        <th>
            Date posted
        </th>
        <th>
            Summary
        </th>
        <th>

        </th>
      </thead>
      <tbody>
        {% for post in news %} <!-- Для каждой новости будет генерироваться новая строчка, т.е. новый html код. При этом сам цикл работет точно также, как и в python. product — переменная цикла, т.е. наш товар взятый из общего списка -->
        <tr>
            <td>
                {{ post.title }} <!-- не забываем что переменные в шаблоне ничем не отличаются от переменных в python. Здесь также можно получать доступ к полям класса. Например здесь мы выводим имя, в следующем столбце описание, и т.д.  -->
            </td>
            <td>
                {% for c in post.category.all %}
                    {{ c.name }} <!-- не забываем что переменные в шаблоне ничем не отличаются от переменных в python. Здесь также можно получать доступ к полям класса. Например здесь мы выводим имя, в следующем столбце описание, и т.д.  -->
                {% endfor %}
            </td>
            <td>
                {{ post.date_posted|date:'d M Y' }}
            </td>
            <td>
                {{ post.text|truncatechars:50 }} <!-- дописываем специальный фильтр, чтобы ограничить количество символов до 20. Все остальные символы превратятся в многоточие. -->
            </td>
            <td>
                <a href="{{ full_url }}{{ post.get_absolute_url }}">Full post</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
</html>